/* Marc-Antoine Carrière <purema4@gmail.com> */

/* License Gnuv3 */

/* this site is made from mobile first*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');
:root {
	--main-bg-color: #F4F4F4;
	--main-color: #dcd0c0;
	--main-black-color: #373737;
	--main-button-color: #c0b283;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--main-bg-color);
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	height: 3000px;
}

* {
	box-sizing: border-box;
}

h1 {
	/*padding: 0;
	margin: 0;*/
	font-family: 'Lobster';
	font-size: 3em;
}

button {
	border-radius: 10px;
	border-color: var(--main-button-color);
	background-color: var(--main-button-color);
	border-style: none;
	/*height: 30px;
	width: 100px;*/
	font-size: 1.2em;
	cursor: pointer;
	text-transform: Capitalize;
	padding: 7px 20px;
	/* https://codepen.io/sdthornton/pen/wBZdXq */
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

button:active,
button:focus {
	outline: 0;
	border: none;
}

/* Section de navigation */

nav {
	width: 100%;
	height: 64px;
	max-height: 64px;
	background-color: var(--main-black-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav img {
	width: 64px;
	height: 64px;
}

nav a,
nav a:active,
nav a:link {
	color: var(--main-bg-color);
}

nav ul {
	width: 50%;
	display: none;
	align-items: bottom;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	list-style: none;
	transition: all 1s;
}

nav ul.active {
	width: 100%;
	background-color: var(--main-black-color);
	opacity: 0.95;
	font-size: 1.0em;
	transform: translateY(100%);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	/* display for flex */
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
}

nav .hamburger {
	width: 32px;
	height: 32px;
	margin-right: 14px;
	/*fill: var(--main-bg-color);*/
	cursor: pointer;
}

/* HEADER */

header {
	/*background-image: url("../res/apple-apple-device.jpg");*/
	width: 100%;
	height: 250px;
	/*background-size: cover;*/
	position: relative;
	overflow-x: hidden;
}

header .pictures {
	display: flex;
	max-height: 100%;
	/* la magie se passe ici */
	transform: translateX(-0vw);
	transition: transform 0.3s;
}

header img {
	max-width: 100%;
}

header .over {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

header .over .left-arrow,
header .over .right-arrow {
	background-color: var(--main-black-color);
	opacity: 0.4;
	height: 100%;
	width: 50px;
}

header .over .middle {
	width: 50%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	/*align-items: flex-end;*/
	height: 30%;
}

header .over .middle .dots {
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

header .over .middle .dots .dot {
	width: 15px;
	height: 15px;
	border: 2px solid black;
	border-radius: 50%;
}

header .over .middle .dots .dot.active {
	background-color: var(--main-bg-color);
}

/* SECTION */

section {
	background-color: var(--main-color);
	width: 100%;
	height: 300px;
}

section h1 {
	margin-top: 0;
	text-align: center;
	text-decoration: underline;
}

.premiere h2 {
	font-family: 'Lobster', Arial, Helvetica, sans-serif;
	text-align: center;
	margin-top: -40px;
	text-decoration: underline;
}

.premiere .quote {
	text-align: center;
}

.premiere .quote::before {
	content: "«"
}

.premiere .quote::after {
	content: "»"
}